{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chirper</title>
  <link rel='stylesheet' href="{% static 'appdjango/css/css.css' %}"/>
  <link rel='stylesheet' href="{% static 'appdjango/css/css/bootstrap.css'%}"/>
</head>
<body>
  <a href="{% url 'login' %}">Login</a>
  <a href="{% url 'logout' %}?next=/">Logout</a>
  <div class='blocktext'>
    <div class='container'>
    {% block content %}
      No content provided
    {% endblock %}
    </div>
  </div>
</body>
